/* Main */
.tpl_forums_table {
	border:5px solid #E8F1F7;
	margin-bottom:10px;
}
.tpl_forums_table table {
	border-left:1px solid #D1E2F1;
	border-top:1px solid #D1E2F1;
	border-right:1px solid #D1E2F1;
}
.tpl_forums_table table th {
	padding:5px;
}
.tpl_forums_table table td {
	padding:5px;
}
.tpl_forums_table table .cat_title th {
	background:url(images/tpl_forum_title.jpg) repeat-x #79A8CC;
	color:#FFF;
}
.tpl_forums_table table .forum_legend td {
	background:url(images/tpl_forum_legend.jpg) repeat-x #E0ECF4;
	border-bottom:1px solid #D1E2F1;
	color:#7B96AB;
}
.tpl_forums_table table .forum_title td {
	border-bottom:1px solid #D1E2F1;
}
.tpl_forums_table table .forum_description {
	margin-top:5px;
	color:#5C7283;
}
.subforum_title div {
	float:left;
	padding:5px 5px 5px 0;
	color:#5C7283
}
.subforum_title div a,
.subforum_title div a:link,
.subforum_title div a:visited {
	color:#5C7283
}
.subforum_title div a:hover {
	color:#FF9900;
}
/* Thread */
.tpl_forums_table table .thread_title th {
	background:url(images/tpl_forum_title.jpg) repeat-x #79A8CC;
	color:#FFF;
}
.tpl_forums_table table .thread_title td {
	border-bottom:1px solid #D1E2F1;
}
/* Posts */
.tpl_forums_post {
	border:1px solid #DDD;
	padding:10px;
}
.tpl_forums_post_ring {
	border:5px solid #EEE;
	margin-bottom:10px;
}
.tpl_forums_post .title {
	font-size:16px;
	font-weight:bold;
}
.tpl_forums_post .info {
	border-bottom:1px dotted #DDD;
	padding-bottom:5px;
	margin-bottom:10px;
}
.tpl_forums_post .info span {
	font-size:12px;
	color:#AAA;
}
.tpl_forums_post .foot {
	border:1px dotted #DDD;
	padding:5px;
	margin-top:10px;
	color:#AAA;
	font-size:10px;
}
.tpl_forums_post .additional {
	border:1px dotted #DDD;
	padding:5px;
	margin-top:10px;
	color:#AAA;
	font-size:10px;
}
/* Buttons */
.tpl_forums_buttons {
	margin-bottom:10px;
}
.tpl_forums_buttons_inthread {
	margin-top:10px;
}
.tpl_forums_buttons div,
.tpl_forums_buttons_inthread div {
	float:left;
	margin-right:10px;
	border:5px solid #E8F1F7;
	
}
.tpl_forums_buttons div a,
.tpl_forums_buttons_inthread div a {
	border:1px solid #D1E2F1;
	display:block;
	padding:5px;
}
.tpl_forums_table table .thread_author {
	margin-top:5px;
	color:#5C7283;
}
/* Form */
.tpl_forums_row {
	margin-bottom:10px;
}
.tpl_forums_label {
	display:block;
}
.tpl_forums_input {
	border:1px solid #BDD4E7;
	color:#5286AD;
	width:70%;
}
.tpl_forums_textarea {
	border:1px solid #BDD4E7;
	color:#5286AD;
	width:99%;
	height:300px;
}
.tpl_forums_button {
	border:1px solid #BDD4E7;
	color:#5286AD;
	margin:0;
}
.quickreply {
	width:400px;
	margin:0 auto;
	border:5px solid #E8F1F7;
}
.quickreply .inner {
	text-align:center;
	border:1px solid #D1E2F1;
	background-color:#FFF;
	padding:5px;
}
.quickreply .button {
	padding:0;
}
.quickreply .button input {
	width:150px;
	text-align:center;
	border:1px solid #D1E2F1;
	color:#5286AD;
	background-color:#FFF;
	margin:0;
	padding:4px 0;
}
.quickreply textarea {
	width:380px;
	height:100px;
	border:0;
	border:1px dotted #D1E2F1;
	background-color:#FFF;
}
.sys_forum_mod {
    margin-bottom:4px;
    padding:4px;
    border-radius: 5px;
    border:1px solid #c2c2c2;
    background: linear-gradient(to bottom, #fefefe 0%,#f8f8f8 40%,#e9e9e9 100%);
    color: #5b5b5b;
    font-weight:bold;
    font-family:Arial;
    width:100px;
    position:fixed;
    left:20px;
    bottom:20px;
    z-index:99999;
    text-align:center;
}
.sys_forum_mod a,
.sys_forum_mod a:link,
.sys_forum_mod a:visited {
    color:#5b5b5b;
    display:block;
}
.sys_forum_mod:hover,
.sys_forum_mod:hover > a {
    color:#A00;
}